.btn {
    border: 0;
    background-color: none;
    outline: none;
    padding: 0.9em 1.2em;
    font-weight: 500;
    border-radius: 0.4em;
    font-size: 1.5rem;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
}

.btn--primary {
    background-color: var(--primary-color);
    color: #fff;
}

.btn--primary:hover {
    background-color: var(--primary-dark-color);
}

.btn--outline {
    color: var(--primary-dark-color);
    box-shadow: 0 3px 6px hsla(231, 69%, 60%, 30%);;
}

.btn--outline:hover {
    background-color: var(--primary-dark-color);
    color: #fff;
}

.btn--secondary {
    background-color: var(--secondary-color);
    color: #fff;
}

.btn--secondary:hover {
    background-color: var(--secondary-dark-color);
}

.btn--nav {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.9rem;
    padding: 0.7em 2.2em;
    letter-spacing: 0.1em;
}

@media (min-width: 600px) {
    .btn--nav {
        border: none;
        background-color: var(--secondary-color);
        font-size: 1.5rem;
        
    }
}

@media (min-width: 1080px) {
    .btn--nav {
        font-size: 1.8rem;
    }
}