.accordion {
    text-align: left;
}

.accordion-header {
    width: 100%;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 2rem 0;
    border-top: 1px solid var(--light-grey-color);
    font-size: 2.2rem;
}

.accordion:last-child {
    border-bottom: 1px solid var(--light-grey-color);
}

.accordion-header.active img {
    transform: rotate(180deg);
    transition: rotate 1s ease-in-out;
}

.accordion-content {
    overflow: hidden;
    max-height: 0;
}

.accordion-content p {
    padding: 2rem 0;
}

.accordion-content.visible {
    max-height: 100vh;
    transition: max-height 0.5s ease-in-out;
}

@media (min-width: 768px) {
    .accordion {
        max-width: 60rem;
        margin: 0 auto;
    }
}